{% layout 'layout.liquid' %}
{% block content %}
  <div class="col-mb-4">
    <h1 class="display-4">Welcome To Worldly Inventory!</h1>
    <p>Log in to see cool information on these worldly planets!</p>

  </div>
  <div class="btn-group btn-group-lg mt-4">
    <a href="/users/signup" class="btn btn-success">Sign Up</a>
    <a href="/users/login" class="btn btn-success">Login</a>
  </div>
{% endblock %}
