body {
    background-color: black;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5b5767a94eddec201ef256b1/1620412040187-JEMUKT5P9F31EJXFY2L6/SOL+Space+VFX+Elements+What%27s+Included.gif?format=2500w");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    color: white;
    text-align: center;
}

img {
    justify-content: center;
}

.card {
    margin: 5px;
    /* background-color: blanchedalmond; */
    color: black;
}
