{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-md">
    <article>
      <h2>{{planet.name}}
      </h2>
      <h4>
        {% if planet.readyToLive %}
          Ripe and Ready
        {% else %}
          Not Ripe, Not Ready
        {% endif %}
      </h4>
      <h4>The color of this fruit is:
        {{planet.color}}
      </h4>
      {% if planet.owner == userId %}
        <div class="btn-group">
          {%- comment -%}
            first button will send us to the edit page
          {%- endcomment -%}
          <a class="btn btn-primary" href="/fruits/edit/{{planet.id}}">Edit</a>
          {%- comment -%}
            the second button(which will actually be a form, will send a DELETE request)
          {%- endcomment -%}
          <form action="/planets/{{planet.id}}?_method=DELETE" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      {% endif %}
    </article>
  </div>
{% endblock %}}}